@import "libs";  // Библиотеки css
@import "base";  // Базовые настройки
@import "vars";  // Переменные scss
@import "fonts"; // Шрифты


.container{
    max-width: 1245px;
    padding: 0 15px;
    margin: 0 auto;
}
.content-container{
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 15px;
}
.simple-btn{
    padding: 11px 19px 15px 19px;
    font-weight: normal;
    font-size: 12px;
    text-transform: capitalize;
    color: #000;

    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 5px;     

    @media(max-width: 630px){
        &{
            display: none;
        }
    }
}

.gradient-btn{
    padding: 9px 22px 13px 22px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;

    background: linear-gradient(90deg, #00D0D0 3.23%, #12EC34 86.1%);
    box-shadow: 0px 2px 10px #008181;
    border-radius: 5px;

    &-icon{
        margin-left: 15px;
    }
}

.menu{
    background-color: #fff;
    padding: 24px 0;

    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width:950px){
            &{
                justify-content: flex-end;
            }
        }
    }

    &__list{
        list-style: none;

        @media(max-width:950px){
            &{
                display: none;
            }
        }
    }

    &__item{
        font-weight: 300;
        font-size: 16px;
        display: inline-block;
        margin-right: 30px;
        color: #828282;
        transition: color .2s ease;
        &:hover{
            color: darken($color: #828282, $amount: 50%)
        }

        &-icon{
            margin-right: 9px;
            color: inherit;
        }
    }
    &__buttons{
        & > *{
            margin-left: 25px;
        }
        & > :first-child{
            margin-left: 0;
        }
    }
}

.sup-header{
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.links{
    display: flex;
    align-items: center;

    @media(max-width: 630px){
        &{
            display: none;
        }
    }

    &__item{
        display: inline-block;
        font-weight: normal;
        font-size: 12px;
        color: #828282;
        margin-right: 20px;
        
        &-bold{
            color: #000000;
            font-weight: bold;
        }
    }
}
.wrapper{
    display: flex;
    align-items: center;
}

.subscribe{
    color:  #BDBDBD;
    margin-left: 6px;
    font-size: 20px;

    &:hover{
        color: darken($color: #BDBDBD, $amount: 30%);
    }
}

.lang{
    margin-left: 74px;
    &__item{
        border: 0;
        outline: none;
        background: none;
        font-weight: 300;
        font-size: 12px;
        color: #000;
        cursor: pointer;

        &_active{
            font-weight: bold;
            cursor: initial;
        }
    }
}

.tabs{
    &__item{
        padding: 5px 13px 7px 0;
        font-weight: bold;
        font-size: 12px;
        color: #000;
        border-radius: 10px 10px 0 0;
        outline: none;
        border: 0;
        cursor: pointer;

        i{
            color: inherit;
            font-size: 1.1em;
            margin-right: 5px;
        }

        &_active{
            padding-left: 13px;
            background-color: #fff;
            color: #10DE50;
            cursor: initial;
        }
    }
}

.main{
    background-color: #fff;
    padding-bottom: 62px; 
    max-width: 1105px;
    margin: 0 auto;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);

    @media(max-width:1020px){
        padding-bottom: 20px;
    }
}

.paragraphs{
    padding: 20px 40px;
    display: grid;
    grid-column-gap: 17px;
    grid-row-gap: 28px;
    grid-template-columns: repeat(4, 1fr);

    @media(max-width:880px){
        &{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media(max-width:630px){
        &{
            grid-template-columns: 1fr;
        } 
    }

    .article-item{

        &__img-container{
            height: 214px;
        }

        &:first-child{
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;

            @media(max-width:1020px){
                &{
                    grid-row: 1;
                }
            }

            @media(max-width:630px){
                &{
                    grid-column: 1;
                } 
            }

            .article-item__img-container{
                height: 527px;   /*Костыль с выравниванием картинок*/
            
                @media(max-width:1020px){
                    &{
                        height: 214px;
                    }
                }
            }
        }
        &:nth-child(3){
            @media(max-width:1020px){
                &{
                    grid-column: 4 / span 1;
                }
            }
            @media(max-width: 880px){
                &{
                    grid-column: 1;
                }
            }
            @media(max-width:630px){
                &{
                    grid-column: 1;
                } 
            }
        }
        &:nth-child(4){
            @media(max-width:1020px){
                &{
                    grid-column: 1 / span 2;
                }
            }
            @media(max-width: 880px){
                &{
                    grid-column: 2 / span 2;
                }
            }
            @media(max-width:630px){
                &{
                    grid-column: 1;
                } 
            }
        }
        &:nth-child(5){
            @media(max-width:1020px){
                &{
                    grid-column: 3 / span 2;
                }
            }
            @media(max-width: 880px){
                &{
                   grid-column: 1 / span 3;
                }
            }
            @media(max-width:630px){
                &{
                    grid-column: 1;
                } 
            }
        
        }
        &__description{
            margin-top: 14px;
            margin-bottom: 0;
            
            @media(max-width: 880px){
                &{
                    font-size: 12px;
                }
            }
            @media(max-width:630px){
                &{
                    font-size: 15px;
                } 
            }
        }
    }
}



.article-item{
    &__description{
        text-align: start;
        color: $description-color;
        font-weight: bold;
        font-size: 16px;
        &:hover{
            a{text-decoration: underline};
        }

        @media(max-width:1020px){
            &{
                font-size: 14px;
                text-align: initial; 
            }
        }
    }

    &__img-container{
        position: relative;
        overflow: hidden;
        transition: box-shadow .5s ease;

        &:hover .article-item__img{
            transform: scale(1.1);
        }
    }

    &__img{
        display: block;
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform .5s ease;
    }

    &__btn{
        display: inline-block;
        background-color: $btn-color;
        color: $description-color;
        border-radius: 5px;
        font-weight: 600;
        font-size: 12px;
        padding: 9px 13px 10px 16px;
        position: absolute;
        bottom: 17px;
        right: 18px;
        z-index: 10;

        i{
            font-size: 15px;
            margin-left: 11px;
            position: relative;
            top: 2px;
        }
    }
}

.loading{
    display: block;
    margin: 35px auto 28px;
    color: #2D74FF;
    font-weight: bold;
    font-size: 14px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    @media(max-width: 480px){
        margin: 15px auto 25px;
    }
}

.follow{
    background: linear-gradient(90deg, #A6F525 1.25%, #10DE50 86.91%);
    padding: 22px 0 36px 0;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width:900px){
            &{
                flex-direction: column;
            }
        }
    }

    .flex{
        @media(max-width:480px){
            &{
                flex-direction: column;
            }
        }
    }

    .facebook-btn{
        margin-right: 15px;

        @media(max-width:480px){
            &{
                margin-right: 0;
                margin-bottom: 15px;       
            }
        }
    }

    .email{
        @media(max-width: 900px){
            &{
                width: 170px;
            }
        }
        &__input{
            @media(max-width:900px){
                &{
                    width: 140px;
                }
            }
        }
    }

    &__title{
        margin: 0;
        max-width: 525px;
        font-weight: bold;
        font-size: 28px;
        color: #fff;
        text-transform: none;

        @media(max-width:1000px){
            &{
                max-width: 425px;
                font-size: 22px;
                text-align: center;
            }
        }
        @media(max-width:900px){
            &{
                max-width: 425px;
                font-size: 22px;
                text-align: center;
                margin-bottom: 15px;
            }
        }
        @media(max-width:480px){
            &{
                font-size: 18px;
                margin-bottom: 20px;       
            }
        }
    }
}
.facebook-btn{
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    padding: 9px 20px 12px 35px;
    background: #485A96;
    box-shadow: 0px 2px 4px #061E6E;
    border-radius: 5px;
    position: relative;

    i{  
        left: 15px;
        font-size: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
.email{
    height: 35px;
    display: flex;
    &__input{
        display: inline-block;
        width: 195px;
        padding: 9px 0 12px 12px;
        background-color: #fff;
        border-radius: 5px 0 0 5px;
        color: #828282; 
        font-weight: normal;
        font-size: 12px;
        height: 100%;
        border: 0;
        outline: none;
    }

    &__btn{
        width: 40px;
        background-color: #000;
        border: 0;
        outline: none;
        border-radius: 0px 5px 5px 0px;
        height: 100%;
        i{
            color: #FFFFFF;
            line-height: 100%;
        }
    }
}
.recommendation{
    &__title{
        max-width: 265px;
        padding: 0 10px;
        margin: 60px auto 47px;
        font-weight: bold;
        font-size: 24px;
        color: #000;

        @media(max-width:1000px){
            &{
                margin: 35px auto 24px;
            }
        }
    }
    &__wrapper{
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
    }
    .article-item{
        padding: 5px;
        width: 233px;
        margin-bottom: 15px;
        flex: 1 0 auto;

        &__img-container{
            height: 170px;
        }
        &__description{
            margin-top: 20px;
            @media(max-width:880px){
                &{
                    margin-top: 10px;
                }
            }
        }
        &:last-child{
            margin-right: 0;
        }
    }
}

.footer{
    border-top: 1px solid #DADADA;
    background-color: #F2F2F2;
    padding: 20px 0;

    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 920px){
            &{
                align-items: flex-start;
                justify-content: space-evenly;   
            }
        }
        @media(max-width: 680px){
            &{
                flex-direction: column;   
            }
        }
    }
    &__link{
        font-weight: 600;
        font-size: 13px;
        color: $link-color;
        margin-right: 22px;
        transition: color .2s ease;
        &:hover{
            color: darken($color: $link-color, $amount: 40%)
        }

        @media(max-width: 920px){
            &{
                margin-right: 0;
                margin-bottom: 10px;       
            }
        }

        @media(max-width: 680px){
            &{
                font-size: 14px;  
            }
        }

        i{
            font-size: 25px;
            
            &.fa-facebook-square:hover{
                color: #3b5998;
            }
        }

        &-facebook{
            @media(max-width: 920px){
                &{
                    display: none;       
                }
            }
        }
    }

   .flex{
        @media(max-width: 920px){
            &{
                flex-direction: column;
                align-items: flex-start;       
            }
        }
   }
}

.logo-container{
    margin-right: 30px;

    @media(max-width: 920px){
        &{ 
            display: none;   
        }
    }
}
.logo{
    position: relative;
    left: -20%;
}
.flex{
    display: flex;
    align-items: center; 
}